@mixin input-text {
    line-height: 36px;
    letter-spacing: 0.2px;
}

@mixin text--center{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@mixin service-text--normal {
    line-height: 32px;
    font-size: 18px;
}

$mobile-width: 375px; 
$tablet-width: 1024px; 
$desktop-width: 1440px;  

@mixin mobile { @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}